*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
html{
	overflow-y: scroll;
}
hr{
	margin: 20px 0px;
}
main{

}
nav{
	color: white;
	background-color: #2b542c;
}
textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
}
img {
	max-width:100%;
}
p{
	max-width: inherit;
	 margin:0;
}
p + p{
  margin-top:10px;
}

.container .row{
	margin-left: 0px;
	margin-right: 0px;
}
nav ul a{
	padding: 0 30px;
}
nav ul a:hover{
	background-color: #003300;
}
h1,h2,h3,h4,h5,h6{
	color: #2b542c;
}

.weekNumber{
	height: 80px;
	line-height: 80px;
	text-align: center;
	background: #2b542c;
	color: #fff;
}
.textline{
	margin: 10px 0px;
}
.courserow{
	margin-bottom: 5px;
}
.textEdit{
	height: 200px;
	width: 100%;
	padding: 5px;
}
.default-btn{
	background-color: #2b542c;
	border-radius: 0px;
}
.default-btn:hover {
	background-color: #003300;
}
.editpencil{
	color: #2b542c;
}
.mod {
	background: blue;
	cursor: default;
}
.textblok {
	color: #fff;
	background-position: center;
	background-size: 100%;
	height: 150px;
	text-align: center;
	word-wrap: break-word;
	font-size: 28px;
	text-shadow: 1px 1px 1px #000	;
	position: relative;
}
.centertext{
	position: absolute;
	top: 50%;
	padding:0px 10px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
.text-center{
	text-align: center;
}
.homepagePhoto{
	height: 91vh;
}
.homepageContent{
	text-align: center;
	justify-content: center;
	margin-top:40px;
}
.homepageContent *{
	color: #fff;
}
.row{
	margin-bottom: 0px;
}
.homepagebutton{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	position: relative;
}
.homepage-btn{
	height: 50px;
}
.courseBox h3{
	-webkit-transition: .5s;
	transition: .5s;
}
.courseBox button{
	-webkit-transition: .5s;
	transition: .5s;
	width: 100%;
	margin: 15px auto;
}
.courseBox{
	width: 95%;
	color:#2b542c;
	margin: 10px auto;
	text-align: center;
	background-color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
	border-radius: 5px;
	padding: 30px 0px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.courseBox:hover{
	width: 100%;
	margin: 5px auto 10px auto;
	padding: 35px 0px;
	background-color: #2b542c;
	color:  #fff;
}
.courseBox:hover h3{
	color: #fff;
}
.courseBox:hover button{
	background-color: #fff;
	color:#2b542c;
	margin: 15px 0px;
	font-weight: bold;
}
.courses{
	padding-top:8%;
}
.indexText{
	font-weight: 700;
	font-size: 55px;
	text-transform: uppercase;

}
.indexTextMe{
	font-weight: 800;
	font-size: 70px;
	text-transform: uppercase;
	color: #2b542c;
	line-height: 30px;
}
.indexImage{
	height: 200px;
	margin-top: 50px;
}
.ima{
	font-family: 'Lobster', cursive;
	font-size: 50px;
}
.change{
	color: #2b542c;
}
.changePart{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.andima{
	justify-content: left;
	width: 49.5%;
	text-align: right;
	padding-right: 0.5%;
}
.words{
	justify-content: right;
	width: 49.5%;
	padding-left: 0.5%;
}
.toCourses{
	display: flex;
	justify-content: center;
}


.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.courseTitle{
		width: 100%;
		text-align: right;
		margin-bottom: -77px;
}



/* Me */
.gitaar-outter{
	display: flex;
	justify-content: center;
	background-image: url("../photos/geluidsmuur.png");
	background-repeat: repeat;
}
.gitaar {
	margin-top: 30px;
  display: grid;
  grid-template-columns: 400px 100px 200px 100px 400px;
  grid-template-rows: 832px 20px repeat(22, 130px)  1300px;
  grid-template-areas:
    "head head head head head"
		". . fret0 . ."
    ". . fret1 . text1"
    "text2 . fret2 . ."
    ". . fret3 . text3"
    "text4 . fret4 . ."
    ". . fret5 . text5"
		"text6 . fret6 . ."
		". . fret7 . text7"
		"text8 . fret8 . ."
		". . fret9 . text9"
		"text10 . fret10 . ."
		". . fret11 . text11"
		"text12 . fret12 . ."
		". . fret13 . text13"
		"text14 . fret14 . ."
		". . fret15 . text15"
		"text16 . fret16 . ."
		". . fret17 . text17"
		"text18 . fret18 . ."
		". . fret19 . text19"
		"text20 . fret20 . ."
		". . fret21 . text21"
		"text22 . fret22 . ."
		"guitarbody guitarbody guitarbody guitarbody guitarbody";
}
.fret0{
	grid-area: fret0;
	background-color:#000;
}
.fret{
	  border: 1px solid black;
		padding-left: 5px;
		box-shadow: 5px 0 15px -3px rgba(0, 0, 0, 0.8), -5px 0 8px -3px rgba(0, 0, 0, 0.8);
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		border-bottom: 3px solid grey;
		background-image: url("../photos/matteblack.png");
		background-repeat: repeat;
		background-position: center;
		color: #fff;
}
.textblock{
	justify-self: center;
	align-self: center;
}
.gitaar div {
  display: flex;
}
.rightarrow{
	position: relative;
	background: #000;
	border-radius: .4em;
	color: white;
	padding:10px;
}
.rightarrow::after{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #000;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.leftarrow{
	position: relative;
	background: #000;
	border-radius: .4em;
	padding: 10px;
	color: white;
}

.leftarrow::after{
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-left-color: #000;
		border-right: 0;
		border-bottom: 0;
		margin-top: -10px;
		margin-right: -20px;
}
.guitarbody{
	grid-area: guitarbody;
	background-image: url("../photos/body.png");
	background-position: top;
	background-size:contain;
	background-repeat: no-repeat;
}
.head {
	grid-area: head;
	background-image: url("../photos/head.png");
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
}
div.fret1 {grid-area: fret1;}
div.fret2 {grid-area: fret2;}
div.fret3 {grid-area: fret3;background-image: url(../photos/circle.png);background-repeat: no-repeat;background-position: center;}
div.fret4 {grid-area: fret4;}
div.fret5 {grid-area: fret5;background-image: url(../photos/circle.png);background-repeat: no-repeat;background-position: center;}
div.fret6 {grid-area: fret6;}
div.fret7 {grid-area: fret7;background-image: url(../photos/circle.png);background-repeat: no-repeat;background-position: center;}
div.fret8 {grid-area: fret8;}
div.fret9 {grid-area: fret9;background-image: url(../photos/circle.png);background-repeat: no-repeat;background-position: center;}
div.fret10 {grid-area: fret10;}
div.fret11 {grid-area: fret11;}
div.fret12 {grid-area: fret12;background-image: url(../photos/doublecircle.png);background-repeat: no-repeat;background-position: center;}
div.fret13 {grid-area: fret13;}
div.fret14 {grid-area: fret14;}
div.fret15 {grid-area: fret15;background-image: url(../photos/circle.png);background-repeat: no-repeat;background-position: center;}
div.fret16 {grid-area: fret16;}
div.fret17 {grid-area: fret17;background-image: url(../photos/circle.png);background-repeat: no-repeat;background-position: center;}
div.fret18 {grid-area: fret18;}
div.fret19 {grid-area: fret19;background-image: url(../photos/circle.png);background-repeat: no-repeat;background-position: center;}
div.fret20 {grid-area: fret20;}
div.fret21 {grid-area: fret21;background-image: url(../photos/circle.png);background-repeat: no-repeat;background-position: center;}
div.fret22 {grid-area: fret22;}
div.text1 {grid-area: text1;}
div.text2 {grid-area: text2;}
div.text3 {grid-area: text3;}
div.text4 {grid-area: text4;}
div.text5 {grid-area: text5;}
div.text6 {grid-area: text6;}
div.text7 {grid-area: text7;}
div.text8 {grid-area: text8;}
div.text9 {grid-area: text9;}
div.text10 {grid-area: text10;}
div.text11 {grid-area: text11;}
div.text12 {grid-area: text12;}
div.text13 {grid-area: text13;}
div.text14 {grid-area: text14;}
div.text15 {grid-area: text15;}
div.text16 {grid-area: text16;}
div.text17 {grid-area: text17;}
div.text18 {grid-area: text18;}
div.text19 {grid-area: text19;}
div.text20 {grid-area: text20;}
div.text21 {grid-area: text21;}
div.text22 {grid-area: text22;}
