*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
html{
	overflow-y: scroll;
	margin-bottom: 20px;

}
hr{
	margin: 20px 0px;
}
main{

}
nav{
	background-color: #2b542c;
}
textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
}
img {
	max-width:100%;
}
p{
	max-width: inherit;
	 margin:0;
}
p + p{
  margin-top:10px;
}

.container .row{
	margin-left: 0px;
	margin-right: 0px;
}
nav ul a{
	padding: 0 30px;
}
nav ul a:hover{
	background-color: #003300;
}
h1,h2,h3,h4,h5,h6{
	color: #2b542c;
}

.weekNumber{
	height: 80px;
	line-height: 80px;
	text-align: center;
	background: #2b542c;
	color: #fff;
}
.textline{
	margin: 10px 0px;
}
.courserow{
	margin-bottom: 5px;
}
.textEdit{
	height: 200px;
	width: 100%;
	padding: 5px;
}
.default-btn{
	background-color: #2b542c;
	border-radius: 0px;
}
.default-btn:hover {
	background-color: #003300;
}
.editpencil{
	color: #2b542c;
}
.mod {
	background: blue;
	cursor: default;
}
.textblok {
	color: #fff;
	background-position: center;
	background-size: 100%;
	height: 150px;
	text-align: center;
	word-wrap: break-word;
	font-size: 28px;
	text-shadow: 1px 1px 1px #000	;
	position: relative;
}
.centertext{
	position: absolute;
	top: 50%;
	padding:0px 10px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
.text-center{
	text-align: center;
}
.homepagePhoto{
	height: 91vh;
}
.homepageContent{
	text-align: center;
	justify-content: center;
	margin-top:40px;
}
.homepageContent *{
	color: #fff;
}
.row{
	margin-bottom: 0px;
}
.homepagebutton{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	position: relative;
}
.homepage-btn{
	height: 50px;
}
.courseBox h3{
	-webkit-transition: .5s;
	transition: .5s;
}
.courseBox button{
	-webkit-transition: .5s;
	transition: .5s;
	width: 100%;
	margin: 15px auto;
}
.courseBox{
	width: 95%;
	color:#2b542c;
	margin: 10px auto;
	text-align: center;
	background-color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
	border-radius: 5px;
	padding: 30px 0px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.courseBox:hover{
	width: 100%;
	margin: 5px auto 10px auto;
	padding: 35px 0px;
	background-color: #2b542c;
	color:  #fff;
}
.courseBox:hover h3{
	color: #fff;
}
.courseBox:hover button{
	background-color: #fff;
	color:#2b542c;
	margin: 15px 0px;
	font-weight: bold;
}
.courses{
	padding-top:8%;
}
.indexText{
	font-weight: 700;
	font-size: 55px;
	text-transform: uppercase;

}
.indexTextMe{
	font-weight: 800;
	font-size: 70px;
	text-transform: uppercase;
	color: #2b542c;
	line-height: 30px;
}
.indexImage{
	height: 200px;
	margin-top: 50px;
}
.ima{
	font-family: 'Lobster', cursive;
	font-size: 50px;
}
.change{
	color: #2b542c;
}
.changePart{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.andima{
	justify-content: left;
	width: 49.5%;
	text-align: right;
	padding-right: 0.5%;
}
.words{
	justify-content: right;
	width: 49.5%;
	padding-left: 0.5%;
}
.toCourses{
	display: flex;
	justify-content: center;
}
.me{
	display: flex;
	justify-content: space-around;
}
.first{
	width: 30vw;
}
.second{
	width: 17vw;
}
.third{
	width: 30vw;
}
.fret{
	border-left: 5px solid #000;
	border-right: 5px solid #000;
	background-color: #fff;
	height: 170px;
	border-top: 2px solid grey;

}
.circleGuitar{
	background-image: url('../photos/circle.png');
	background-repeat: no-repeat;
	background-position: center;
}
.doublecircleGuitar{
	background-image: url('../photos/doublecircle.png');
	background-repeat: no-repeat;
	background-position: center;
}

.fret:first-child{
	margin-top:-70px;
}
.head{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.head img{

	margin-left: 192px;
}
.eventright {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	color: white;
	padding:10px;
}

.eventright:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.eventleft {
	position: relative;
		background: #00aabb;
		border-radius: .4em;
		padding: 10px;
		color: white;
}
.me h5{
	color: white;
}
.eventleft:after {
	content: '';
		position: absolute;
		right: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-left-color: #00aabb;
		border-right: 0;
		border-bottom: 0;
		margin-top: -10px;
		margin-right: -20px;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.courseTitle{
		width: 100%;
		text-align: right;
		margin-bottom: -80px;
}
#eventleft1{
	margin-top: -50px;
}
#eventleft2{
	margin-top: 205px;
}
#eventleft3{
	margin-top: 203px;
}
#eventleft4{
	margin-top: 212px;
}
#eventleft5{
	margin-top: 194px;
}
#eventleft6{
	margin-top: 145px;
}
#eventleft7{
	margin-top: 94px;
}
#eventleft8{
	margin-top: 100px;
}
#eventleft9{
	margin-top: 143px;
}
#eventleft10{
	margin-top: 136px;
}
#eventright1{
	margin-top: 32px;
}
#eventright2{
	margin-top: 140px;
}
#eventright3{
	margin-top: 193px;
}
#eventright4{
	margin-top: 191px;
}
#eventright5{
	margin-top: 185px;
}
#eventright6{
	margin-top: 134px;
}
#eventright7{
	margin-top: 155px;
}
#eventright8{
	margin-top: 146px;
}
#eventright9{
	margin-top: 134px;
}
