*{
	padding: 0;
	margin: 0;
}
html{
	overflow-y: scroll;
}
main{
	margin-top: 20px;
}
nav{
	background-color: #2b542c;
}
.container .row{
	margin-left: 0px;
	margin-right: 0px;
}
nav ul a{
	padding: 0 30px;
}
nav ul a:hover{
	background-color: #003300;
}
h1,h2,h3,h4,h5,h6{
	color: #2b542c;
}

.weekNumber{
	height: 80px;
	line-height: 80px;
	text-align: center;
	background: #2b542c;
	color: #fff;
}
.textline{
	margin: 10px 0px;
}
.courserow{
	margin-bottom: 5px;
}
.textEdit{
	height: 200px;
	width: 100%;
	padding: 5px;
}
.default-btn{
	background-color: #2b542c;
	border-radius: 0px;
}
.default-btn:hover {
	background-color: #003300;
}
.editpencil{
	color: #2b542c;
}



test {
	width: 70px;
	height: 50px;
	float: left;
	margin: 5px;
	background: red;
	cursor: pointer;
}
.mod {
	background: blue;
	cursor: default;
}
.textblok {
	background-color: blue!important;
	height: 150px;
	line-height: 150px;
	text-align: center;
}