*{
	padding: 0;
	margin: 0;
}
html{
	overflow-y: scroll;
	margin-bottom: 30px;
}
main{
	margin-top: 20px;
}
nav{
	background-color: #2b542c;
}
textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
}
img {
	max-width:100%;
}
p{
	max-width: inherit;
}
.container .row{
	margin-left: 0px;
	margin-right: 0px;
}
nav ul a{
	padding: 0 30px;
}
nav ul a:hover{
	background-color: #003300;
}
h1,h2,h3,h4,h5,h6{
	color: #2b542c;
}

.weekNumber{
	height: 80px;
	line-height: 80px;
	text-align: center;
	background: #2b542c;
	color: #fff;
}
.textline{
	margin: 10px 0px;
}
.courserow{
	margin-bottom: 5px;
}
.textEdit{
	height: 200px;
	width: 100%;
	padding: 5px;
}
.default-btn{
	background-color: #2b542c;
	border-radius: 0px;
}
.default-btn:hover {
	background-color: #003300;
}
.editpencil{
	color: #2b542c;
}

.test {
	width: 70px;
	height: 50px;
	float: left;
	margin: 5px;
	background: red;
	cursor: pointer;
}
.mod {
	background: blue;
	cursor: default;
}
.textblok {
	color: #fff;
	background-position: center;
	background-size: 100%;
	height: 150px;
	text-align: center;
	word-wrap: break-word;
	font-size: 28px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: relative;
}
.centertext{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
